@model CooperativeFuneralFundInc.Models.TasksManagement.TaskManagement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaskManagement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelatedTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedToName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelatedToName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedTime)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Visitor"))
    {
        <a asp-action="Index">Back to List</a>
    }
    else
    {
        <a asp-action="Edit" asp-route-id="@Model.TaskManagementId">Edit</a> 
        <a asp-action="Index"> Back to List</a> }

</div>
